body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.responsive-img {
  max-width: auto;
  height: 200px;
}

.logo{
  position: absolute;
  right:0;
}

.card{
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important;
}

.card-img-top  {
  border-radius: 0 !important;
}